USE [master]
GO
/****** Object:  Database [School]    Script Date: 10/21/2025 3:57:48 PM ******/
CREATE DATABASE [School]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'School', FILENAME = N'C:\Users\ZBook\School.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'School_log', FILENAME = N'C:\Users\ZBook\School_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [School].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [School]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 10/21/2025 3:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[gender_id] [int] NOT NULL,
	[gender_name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[gender_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stage]    Script Date: 10/21/2025 3:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stage](
	[StageID] [int] NOT NULL,
	[StageName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[StageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 10/21/2025 3:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[student_id] [int] IDENTITY(1,1) NOT NULL,
	[Fisrt_name] [varchar](50) NOT NULL,
	[Last_name] [varchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[City] [varchar](70) NOT NULL,
	[gender_id] [int] NULL,
	[StageID] [int] NULL,
	[LoginDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parents]    Script Date: 10/21/2025 3:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parents](
	[parent_id] [int] IDENTITY(1,1) NOT NULL,
	[Fisrt_name] [varchar](50) NOT NULL,
	[Last_name] [varchar](50) NOT NULL,
	[Job] [varchar](50) NOT NULL,
	[phone] [varchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[City] [varchar](70) NOT NULL,
	[NationalID] [char](14) NOT NULL,
	[gender_id] [int] NULL,
	[student_id] [int] NULL,
	[LoginDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[parent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 10/21/2025 3:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[teacher_id] [int] IDENTITY(1,1) NOT NULL,
	[First_name] [varchar](50) NOT NULL,
	[Last_name] [varchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[phone] [varchar](50) NOT NULL,
	[deparemnt] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[City] [varchar](70) NOT NULL,
	[NationalID] [char](14) NOT NULL,
	[gender_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[teacher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 10/21/2025 3:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[courses_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[description] [varchar](50) NOT NULL,
	[Subject_name] [varchar](50) NOT NULL,
	[Active] [int] NOT NULL,
	[teacher_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[courses_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentTeacher]    Script Date: 10/21/2025 3:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentTeacher](
	[student_id] [int] NOT NULL,
	[teacher_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[student_id] ASC,
	[teacher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherParents]    Script Date: 10/21/2025 3:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherParents](
	[parent_id] [int] NOT NULL,
	[teacher_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[parent_id] ASC,
	[teacher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherCousres]    Script Date: 10/21/2025 3:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherCousres](
	[courses_id] [int] NOT NULL,
	[teacher_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[courses_id] ASC,
	[teacher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Info_student]    Script Date: 10/21/2025 3:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[Info_student] AS
SELECT 
    s.Fisrt_name AS StudentFirstName,
    s.Last_name AS StudentLastName,
    gs.gender_name AS StudentGender,

    p.Fisrt_name AS ParentFirstName,
    p.Last_name AS ParentLastName,
    gp.gender_name AS ParentGender,

    st.StageName AS Stage,

    t.Fisrt_name AS TeacherFirstName,
    t.Last_name AS TeacherLastName,

    c.Name AS CourseName
FROM 
    students s

-- ربط جنس الطالب
LEFT JOIN Gender gs ON s.gender_id = gs.gender_id

-- ولي الأمر
JOIN Parents p 
    ON p.student_id = s.student_id 
    AND p.Fisrt_name = s.Last_name

-- ربط جنس ولي الأمر
LEFT JOIN Gender gp ON p.gender_id = gp.gender_id

-- المرحلة
JOIN Stage st ON s.StageID = st.StageID

-- الطالب مع المعلم
JOIN StudentTeacher stt ON s.student_id = stt.student_id
JOIN Teachers t ON stt.teacher_id = t.teacher_id

-- المعلم مرتبط بالوالد (اختياري)
JOIN TeacherParents tp ON tp.teacher_id = t.teacher_id AND tp.parent_id = p.parent_id

-- المعلم مع الكورسات
JOIN TeacherCousres tc ON tc.teacher_id = t.teacher_id
JOIN Courses c ON c.courses_id = tc.courses_id;
GO
/****** Object:  View [dbo].[vw_Courses]    Script Date: 10/21/2025 3:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Courses]
AS
SELECT 
    courses_id,
    Name,
    [description],
    Subject_name,
    Active
FROM Courses;
GO
/****** Object:  View [dbo].[view_Courses]    Script Date: 10/21/2025 3:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_Courses]
AS
SELECT 
    courses_id,
    Name,
    [description],
    Subject_name,
    Active
FROM Courses;
GO
/****** Object:  Table [dbo].[CoursesWithTeachersTable2]    Script Date: 10/21/2025 3:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoursesWithTeachersTable2](
	[First_name] [varchar](50) NOT NULL,
	[Last_name] [varchar](50) NOT NULL,
	[Course_Name] [varchar](50) NOT NULL,
	[description] [varchar](50) NOT NULL,
	[Subject_name] [varchar](50) NOT NULL,
	[Active] [int] NOT NULL,
	[Credit_Houers] [decimal](3, 1) NOT NULL,
	[Number_Register] [int] NOT NULL,
	[Year_name] [varchar](9) NOT NULL,
	[Degree] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseTeachers]    Script Date: 10/21/2025 3:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseTeachers](
	[course_id] [int] NOT NULL,
	[teacher_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC,
	[teacher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentCousres]    Script Date: 10/21/2025 3:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentCousres](
	[courses_id] [int] NOT NULL,
	[teacher_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[courses_id] ASC,
	[teacher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentParents]    Script Date: 10/21/2025 3:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentParents](
	[parent_id] [int] NOT NULL,
	[teacher_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[parent_id] ASC,
	[teacher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CoursesWithTeachersTable2] ADD  DEFAULT ((0.0)) FOR [Credit_Houers]
GO
ALTER TABLE [dbo].[CoursesWithTeachersTable2] ADD  DEFAULT ((0)) FOR [Number_Register]
GO
ALTER TABLE [dbo].[CoursesWithTeachersTable2] ADD  DEFAULT ('2025/2026') FOR [Year_name]
GO
ALTER TABLE [dbo].[CoursesWithTeachersTable2] ADD  DEFAULT ((0)) FOR [Degree]
GO
ALTER TABLE [dbo].[Parents] ADD  DEFAULT (getdate()) FOR [LoginDate]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT (getdate()) FOR [LoginDate]
GO
ALTER TABLE [dbo].[CourseTeachers]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([courses_id])
GO
ALTER TABLE [dbo].[CourseTeachers]  WITH CHECK ADD FOREIGN KEY([teacher_id])
REFERENCES [dbo].[Teachers] ([teacher_id])
GO
ALTER TABLE [dbo].[Parents]  WITH CHECK ADD FOREIGN KEY([gender_id])
REFERENCES [dbo].[Gender] ([gender_id])
GO
ALTER TABLE [dbo].[Parents]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([student_id])
GO
ALTER TABLE [dbo].[StudentCousres]  WITH CHECK ADD FOREIGN KEY([courses_id])
REFERENCES [dbo].[Courses] ([courses_id])
GO
ALTER TABLE [dbo].[StudentCousres]  WITH CHECK ADD FOREIGN KEY([teacher_id])
REFERENCES [dbo].[Teachers] ([teacher_id])
GO
ALTER TABLE [dbo].[StudentParents]  WITH CHECK ADD FOREIGN KEY([parent_id])
REFERENCES [dbo].[Parents] ([parent_id])
GO
ALTER TABLE [dbo].[StudentParents]  WITH CHECK ADD FOREIGN KEY([teacher_id])
REFERENCES [dbo].[Teachers] ([teacher_id])
GO
ALTER TABLE [dbo].[students]  WITH CHECK ADD FOREIGN KEY([gender_id])
REFERENCES [dbo].[Gender] ([gender_id])
GO
ALTER TABLE [dbo].[students]  WITH CHECK ADD FOREIGN KEY([StageID])
REFERENCES [dbo].[Stage] ([StageID])
GO
ALTER TABLE [dbo].[StudentTeacher]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([student_id])
GO
ALTER TABLE [dbo].[StudentTeacher]  WITH CHECK ADD FOREIGN KEY([teacher_id])
REFERENCES [dbo].[Teachers] ([teacher_id])
GO
ALTER TABLE [dbo].[TeacherCousres]  WITH CHECK ADD FOREIGN KEY([courses_id])
REFERENCES [dbo].[Courses] ([courses_id])
GO
ALTER TABLE [dbo].[TeacherCousres]  WITH CHECK ADD FOREIGN KEY([teacher_id])
REFERENCES [dbo].[Teachers] ([teacher_id])
GO
ALTER TABLE [dbo].[TeacherParents]  WITH CHECK ADD FOREIGN KEY([parent_id])
REFERENCES [dbo].[Parents] ([parent_id])
GO
ALTER TABLE [dbo].[TeacherParents]  WITH CHECK ADD FOREIGN KEY([teacher_id])
REFERENCES [dbo].[Teachers] ([teacher_id])
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD FOREIGN KEY([gender_id])
REFERENCES [dbo].[Gender] ([gender_id])
GO
USE [master]
GO
